.play-field{
  margin-top: 7rem;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#canvas{
  position: relative;
  margin-bottom: 30px;
  background-color: darkslategrey;
}
#btn{
  position: relative;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 12px;
  transition-duration: 0.4s;
  font-size: 16px;
}
#btn:hover{
  background-color: green;
  color: white;
}

